.navbar button {
    border-radius: 98%;
    border-color: black;
    color: black;
}
.navbar {
    float: center;
    display: block;
    text-align: center;
  }
.searchcontainer button {
    color: white;
    border-radius: 98%;
}
h1 {
    text-align: center;
}
.output img {
    align-items: center;
    width: 20%;
    display: block;
    height: 30%;
    margin-left: 50px;
    margin-right: 50px;
    border: solid black;
}